@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/container-queries';

@custom-variant dark (&:is(.dark *));

:root,
.light {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --accent: oklch(0.21 0.006 285.885);
  --border: oklch(0.92 0.004 286.32);
  --muted: oklch(0.552 0.016 285.938);
  --ring: oklch(0.705 0.015 286.067);
  --shadow-outline: 0px 0px 0px 1px oklch(0 0 0 / 0.07),
    0px 2px 3px -1px oklch(0 0 0 / 0.08), 0px 1px 0px 0px oklch(0 0 0 / 0.02);
  --skeleton-background: linear-gradient(
    to right,
    #e9e9e9 33%,
    #fff,
    #e9e9e9 66%
  );
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(1 0 0);
  --accent: oklch(1 0 0);
  --border: oklch(0.274 0.006 286.033);
  --muted: oklch(0.705 0.015 286.067);
  --ring: oklch(0.552 0.016 285.938);
  --shadow-outline: inset 0 0px 0 1px oklch(1 0 0 / 0.05),
    inset 0 1px 0 0px oklch(1 0 0 / 0.1);
  --skeleton-background: linear-gradient(
    to right,
    #2c2c2c 33%,
    #393939,
    #2c2c2c 66%
  );
}

.theme-blue {
  --accent: oklch(0.546 0.245 262.881);
  --ring: oklch(0.623 0.214 259.815);

  @variant dark {
    --accent: oklch(0.546 0.245 262.881);
  }
}

.theme-blue .dark {
  --accent: oklch(0.546 0.245 262.881);
}

.theme-indigo {
  --accent: oklch(0.585 0.233 277.117);
  --ring: oklch(0.585 0.233 277.117);

  @variant dark {
    --accent: oklch(0.585 0.233 277.117);
  }
}

.theme-indigo .dark {
  --accent: oklch(0.585 0.233 277.117);
}

.theme-violet {
  --accent: oklch(0.541 0.281 293.009);
  --ring: oklch(0.541 0.281 293.009);

  @variant dark {
    --accent: oklch(0.541 0.281 293.009);
  }
}

.theme-violet .dark {
  --accent: oklch(0.541 0.281 293.009);
}

.theme-purple {
  --accent: oklch(0.558 0.288 302.321);
  --ring: oklch(0.558 0.288 302.321);

  @variant dark {
    --accent: oklch(0.558 0.288 302.321);
  }
}

.theme-purple .dark {
  --accent: oklch(0.558 0.288 302.321);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --shadow-outline: var(--shadow-outline);

  @keyframes shimmer {
    from {
      background-position: 100%;
    }

    to {
      background-position: 0%;
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  *,
  *:before,
  *:after {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground h-full font-sans antialiased;
  }

  [data-ui='icon'] {
    flex-shrink: 0;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-border);
    border-radius: 5px;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-border) transparent;
  }

  .skeleton {
    color: transparent;
    line-height: 1.4em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    border-radius: 4px;
    background: var(--skeleton-background);
    background-size: 300%;
    animation: shimmer 2s infinite ease-in-out;
  }

  .skeleton > * {
    visibility: hidden;
  }

  .ring-outline {
    @apply ring ring-zinc-950/10 dark:ring-white/10 shadow-sm dark:shadow-none;
  }
}
