
@layer base {
  .blue-theme {
    --accent: 21 93 252;
    --ring: 43 127 255;
  }
  
  .dark.blue-theme {
    --accent: 21 93 252;
  }
  
  .indigo-theme {
    --accent: 97 95 255;
    --ring: 124 134 255;
  }
  
  .dark.indigo-theme {
    --accent: 97 95 255;
  }
  
  .violet-theme {
    --accent: 142 81 255;
    --ring: 166 132 255;
  }
  
  .dark.violet-theme {
    --accent: 142 81 255;
  }
  
  .purple-theme {
    --accent: 173 70 255;
    --ring: 199 122 255;
  }
  
  .dark.purple-theme {
    --accent: 173 70 255;
  }
  
}

