@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/container-queries';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: rgb(var(--background));
  --color-foreground: rgb(var(--foreground));
  --color-accent: rgb(var(--accent));
  --color-success: rgb(var(--success));
  --color-destructive: rgb(var(--destructive));
  --color-warning: rgb(var(--warning));
  --color-muted: rgb(var(--muted));
  --color-border: rgb(var(--border));
  --color-ring: rgb(var(--ring));
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    /* white */
    --background: 255 255 255;
    /* zinc-950 */
    --foreground: 9 9 11;
    /* zinc-900 */
    --accent: 27 23 24;
    /* zinc-300 */
    --border: 212 212 216;
    /** zinc-500 **/
    --muted: 113 113 122;
    /** green-600 **/
    --success: 0 166 62;
    /** red-600 **/
    --destructive: 231 0 11;
    /* yellow-600 */
    --warning: 202 138 4;
    --ring: 159 159 169;
  }

  .dark {
    /* zinc-950 */
    --background: 9 9 11;
    /* zinc-50 */
    --foreground: 250 250 250;
    /** zinc-600 **/
    --accent: 82 82 91;
    /* zinc-700 */
    --border: 63 63 70;
    /** zinc-400 **/
    --muted: 161 161 170;
    /** green-600 **/
    --success: 0 166 62;
    /** red-600 **/
    --destructive: 231 0 11;
    /* yellow-600 */
    --warning: 202 138 4;
    --ring: 159 159 169;
  }
}

@layer base {
  *,
  *:before,
  *:after {
    @apply border-border;
  }

  body {
    @apply h-full bg-background font-sans text-foreground antialiased;
  }

  [data-ui='icon'] {
    flex-shrink: 0;
  }
}
