@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/container-queries';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-success: var(--success);
  --color-destructive: var(--destructive);
  --color-warning: var(--warning);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-ring: var(--ring);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.141 0.005 285.823);
    --accent: oklch(0.21 0.006 285.885);
    --border: oklch(0.871 0.006 286.286);
    --muted: oklch(0.552 0.016 285.938);
    --success: oklch(0.527 0.154 150.069);
    --destructive: oklch(0.577 0.245 27.325);
    --warning: oklch(0.554 0.135 66.442);
    --ring: oklch(0.705 0.015 286.067);
  }

  .dark {
    --background: oklch(0.141 0.005 285.823);
    --foreground: oklch(1 0 0);
    --accent: oklch(1 0 0);
    --border: oklch(0.37 0.013 285.805);
    --muted: oklch(0.705 0.015 286.067);
    --success: oklch(0.527 0.154 150.069);
    --destructive: oklch(0.505 0.213 27.518);
    --warning: oklch(0.554 0.135 66.442);
    --ring: oklch(0.552 0.016 285.938);
  }

  /* Theme */
  .blue-theme {
    --accent: oklch(0.546 0.245 262.881);
    --ring: oklch(0.623 0.214 259.815);
  }

  .dark.blue-theme {
    --accent: oklch(0.546 0.245 262.881);
  }

  .indigo-theme {
    --accent: oklch(0.585 0.233 277.117);
    --ring: oklch(0.585 0.233 277.117);
  }

  .dark.indigo-theme {
    --accent: oklch(0.585 0.233 277.117);
  }

  .violet-theme {
    --accent: oklch(0.541 0.281 293.009);
    --ring: oklch(0.541 0.281 293.009);
  }

  .dark.violet-theme {
    --accent: oklch(0.541 0.281 293.009);
  }

  .purple-theme {
    --accent: oklch(0.558 0.288 302.321);
    --ring: oklch(0.558 0.288 302.321);
  }

  .dark.purple-theme {
    --accent: oklch(0.558 0.288 302.321);
  }
}

@layer base {
  *,
  *:before,
  *:after {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground h-full font-sans antialiased;
  }

  [data-ui='icon'] {
    flex-shrink: 0;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-border);
    border-radius: 5px;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-border) transparent;
  }
}
