@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --hover: 0 0% 96%;

    --success: 142 72% 29%;
    --destructive: 0 72% 51%;
    --warning: 41 96% 40%;
    --muted: 240 4% 46%;
    --border: 20 6% 85%;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;
    --hover: 0 0% 22%;

    --success: 142 72% 29%;
    --destructive: 0 72% 51%;
    --warning: 41 96% 40%;
    --muted: 240 5% 65%;
    --border: 240 5% 28%;
  }
}

@layer base {
  *,
  *:before,
  *:after {
    @apply border-border;
  }

  body {
    @apply h-full bg-background font-sans text-foreground antialiased;
    font-feature-settings: 'cv11';
  }
}
