.zinc-theme {
  --accent: 24 9.8% 10%;
}

.dark .zinc-theme {
  --accent: 240 5% 34%;
}

.blue-theme {
  --accent: 211 83% 53%;
}

.dark .blue-theme {
  --accent: 211 83% 53%;
}

.indigo-theme {
  --accent: 243 75% 59%;
}

.dark .indigo-theme {
  --accent: 243 75% 59%;
}

.violet-theme {
  --accent: 262 83% 58%;
}

.dark .violet-theme {
  --accent: 262 83% 58%;
}

.purple-theme {
  --accent: 271 81% 56%;
}

.dark .purple-theme {
  --accent: 271 81% 56%;
}

.fuchsia-theme {
  --accent: 293 69% 49%;
}

.dark .fuchsia-theme {
  --accent: 293 69% 49%;
}
